* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.BoxWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sideA {
    width: 50%;
    background-color: rgb(219, 219, 219);
}

.sideB {
    width: 50%;
    background-color: #fff;
}



.box1 {
    width: 100px;
    height:100px;
    background-color: rgb(80, 80, 80);
    position: absolute;
    left: 50%;
}